h1
{
	margin-top: 100px;
	text-align: center;
}

.instructions-item
{
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	text-align: center;
}
.instructions-item img
{
	max-width: 100%;
	padding: 5px;
	border: 2px solid #65CDEE;
}
.instructions-item img:hover
{
	border: 2px solid #00ACEE;
}
.instructions-item:last-child
{
	margin-bottom: 200px;
}
