/* SURVEYPAL BUTTON TEST PAGE */
#surveypal-button-container, h1
{
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
	max-width: 800px;
	margin: 50px auto;
	text-align: center;
	font-size: 1.1em;
}
#surveypal-button-container p, #surveypal-button-container ul
{
	text-align: left;
}
h1
{
	font-weight: 300;
	font-size: 1.8em;
}
code
{
	font-size: 1.2em;
	color: #006699;
}

img
{
	max-width: 100%;
	padding: 5px;
	border: 2px solid #65CDEE;
}
img:hover
{
	border: 2px solid #00ACEE;
}
.surveypal-button-code
{
	text-align: left;
	width: 100%;
	border-radius: 3px;
	background-color: aliceblue;
	border: 1px solid #33BDF1;
	padding: 10px;
	white-space: pre-wrap;
}

#codeArea {
	/*display: none; */
}

#toggleLink {
	color: #33BDF1;
	text-decoration: underline;
}
#toggleLink:hover {
	cursor: pointer;
}